<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <app-update-studio
          [studio]="updatedStudio"
          (studioUpdated)="studioUpdated($event)"
          [ajout]="ajout"
        ></app-update-studio>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom Studio</th>
          </tr>
        </thead>
        <tbody *ngFor="let studio of studios">
          <tr>
            <td>{{ studio.idStudio }}</td>
            <td>{{ studio.nomStudio }}</td>
            <td>{{ studio.descriptionStudio }}</td>
            <td>
              <a class="btn btn-success" (click)="updateStudio(studio)"
                >Editer</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
